<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		
		 <!-- Database connection settings -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">philips02</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/rigers</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		 <!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		<property name="current_session_context_class">thread</property>

		<mapping resource="com/rigers/db/AllarmiStatoImpianto.hbm.xml" />
		<mapping resource="com/rigers/db/Compartimento.hbm.xml" />
		<mapping resource="com/rigers/db/Dispositivo.hbm.xml" />
		<mapping resource="com/rigers/db/DispositivoPub.hbm.xml" />
		<mapping resource="com/rigers/db/Edificio.hbm.xml" />
		<mapping resource="com/rigers/db/LetturaDispositivo.hbm.xml" />
		<mapping resource="com/rigers/db/LetturaDispositivoPub.hbm.xml" />
		<mapping resource="com/rigers/db/Videosorveglianza.hbm.xml" />
		<mapping resource="com/rigers/db/MeterAcqua.hbm.xml" />
		<mapping resource="com/rigers/db/MeterElettrico.hbm.xml" />
		<mapping resource="com/rigers/db/MeterGas.hbm.xml" />
		<mapping resource="com/rigers/db/MeterRipartitoreCalore.hbm.xml" />
		<mapping resource="com/rigers/db/MeterSonde.hbm.xml" />
		<mapping resource="com/rigers/db/MeterTermie.hbm.xml" />
		<mapping resource="com/rigers/db/ParametriElettrici.hbm.xml" />
		<mapping resource="com/rigers/db/Telecontrollo.hbm.xml" />
	</session-factory>
</hibernate-configuration>
